
/*
╔═╤═╤═╤═╤═╤═╤═╤═╗╮
║♜│♞│♝│♛│♚│♝│♞│♜║8
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║♟│♟│♟│♟│♟│♟│♟│♟║7
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║ │░│ │░│ │░│ │░║6
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║░│ │░│ │░│ │░│ ║5
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║ │░│ │░│ │░│ │░║4
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║░│ │░│ │░│ │░│ ║3
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║♙│♙│♙│♙│♙│♙│♙│♙║2
╟─┼─┼─┼─┼─┼─┼─┼─╢┊
║♖│♘│♗│♕│♔│♗│♘│♖║1
╚═╧═╧═╧═╧═╧═╧═╧═╝┊
╰a┈b┈c┈d┈e┈f┈g┈h┈╯
*/
 /*This is for emojis */
#whiteKing::before { content: '♔'; }
#whiteQueen::before { content: '♕'; }
#whiteRook::before { content: '♖'; }
#whiteKnight::before { content: '♘'; }
#whiteBishop::before { content: '♗'; }
#whitePawn::before { content: '♙'; }
#blackKing::before { content: '♚'; }
#blackQueen::before { content: '♛'; }
#blackRook::before { content: '♜'; }
#blackKnight::before { content: '♞'; }
#blackBishop::before { content: '♝'; }
#blackPawn::before { content: '♟'; }

/*#whiteKing::before { content: 'K'; }*/
/*#whiteQueen::before { content: 'Q'; }*/
/*#whiteRook::before { content: 'R'; }*/
/*#whiteKnight::before { content: 'N'; }*/
/*#whiteBishop::before { content: 'B'; }*/
/*#whitePawn::before { content: 'P'; }*/
/*#blackKing::before { content: 'K'; }*/
/*#blackQueen::before { content: 'Q'; }*/
/*#blackRook::before { content: 'R'; }*/
/*#blackKnight::before { content: 'N'; }*/
/*#blackBishop::before { content: 'B'; }*/
/*#blackPawn::before { content: 'P'; }*/

/* This is for design */
section#main {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-board {
    max-height: 560px;
    max-width: 560px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    box-shadow: 0 0 0 20px black;
}

.chess-tile-1:nth-child(2n) {
    background: white;
}

.chess-tile-1:nth-child(2n + 1) {
    background: slategray;
}

.chess-tile-2:nth-child(2n + 1) {
    background: white;
}

.chess-tile-2:nth-child(2n) {
    background: slategray;
}

/*.chess-tile-1:nth-child(-n + 8) {*/
/*    border-bottom: 4px solid black;*/
/*}*/

/*.chess-tile-2:nth-child(8n), .chess-tile-1:nth-child(8n) {*/
/*    border-right: 4px solid black;*/
/*}*/

.chess-piece {
    height: 100%;
    width: 100%;
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

/*.chess-piece {*/
/*    border-left: 4px solid black;*/
/*    border-top: 4px solid black;*/
/*}*/

.chess-piece-selected {
    box-shadow: inset 0 0 20px 8px black;
}

.chess-piece-in-danger {
    box-shadow: inset 0 0 20px 8px red;
}

.chess-piece-possible-moves {
    box-shadow: inset 0 0 20px 8px lawngreen;
}